.profile {
  padding-top: 70px;
}

.profile__container {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
}

.profile__title {
  margin: 0 0 105px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.profile__form {
  padding: 0 30px;  
}

.profile__form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.profile__form-label {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 11px;
}

.profile__form-label:not(:last-child) {
  border-bottom: 1px solid #424242;
}

.profile__form-input {
  background-color: transparent;
  max-width: 200px;
  padding: 0;
  border: none;
  outline: none;
  color: #fff;
  text-align: end;
}

.profile__form-input_type_error {
  color: #ee3465;
}

.profile__form-bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 70px;
  left: 0;
  right: 0;
  font-size: 13px;
}

.profile__message {
  text-align: center;
}

.profile__message_color_red {
  color: #ee3465;
}

.profile__message_color_green {
  color: #00FF7F;
}

.profile__form-button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #fff;
  margin-bottom: 16px;
  font-size: 13px;
  cursor: pointer;
  transition: opacity .2s;
}

.profile__form-button:hover {
  opacity: .8;
}

.profile__form-button_disabled {
  opacity: .6;
  cursor: auto;
}

.profile__form-button_disabled:hover {
  opacity: .6;
}

.profile__form-exit {
  text-decoration: none;
  color: #EE3465;
  cursor: pointer;
  transition: opacity .2s;
}

.profile__form-exit:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile__title {
    margin: 0 0 75px;
  }

  .profile__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
  }

  .profile__form-bottom {
    position: static;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    padding-top: 40px;
  }

  .profile__container {
    margin-top: 70px;
  }

  .profile__title {
    margin-bottom: 60px;
  }

  .profile__form-bottom {
    position: absolute;
    bottom: 40px;
  }
}