.saved-movies__container {
  max-width: 1200px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 70px 30px 175px;
}

@media screen and (max-width: 768px) {
  .saved-movies__container {
    padding-bottom: 100px;
  }
}

/* form */
@media screen and (max-width: 450px) {
  .saved-movies__container {
    padding: 67px 14px 85px;
  }
}