.register {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.register__container {
  position: relative;
  padding-top: 70px;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.register__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.register__form-label {
  position: relative;
  display: block;
  padding-bottom: 5px;
  font-size: 10px;
  color: #8b8b8b;
}

.register__form-label:not(:last-child) {
  margin-bottom: 18px;
}

.register__form-input {
  margin-top: 6px;
  border: none;
  border-bottom: 1px solid #8b8b8b;
  background-color: transparent;
  padding: 0 0 10px 0;
  font-size: 14px;
  width: 100%;
  outline: none;
  color: #fff;
  transition: border-color .2s;
}

.register__form-input:focus {
  border-color: #4285F4;
}

.register__form-input_type_password {
  letter-spacing: 0.22em;
}

.register__form-input_color_red {
  color: #ee3465;
}

.register__form-error {
  position: absolute;
  left: 0;
  bottom: -12px;
  color: #ee3465;
  font-size: 10px;
  line-height: 12px;
}

.register__form-bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 70px;
}

.register__form-button {
  background-color: #4285f4;
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 15px 0;
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 16px;
  font-family: "Inter";
  font-weight: 500;
}

.register__form-button_type_disabled {
  opacity: 0.8;
}

.register__bottom-text {
  margin: 0 5px 0 0;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

.register__bottom-link {
  text-decoration: none;
  color: #4285f4;
  transition: opacity .2s;
}

.register__bottom-link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .register__container {
    padding-top: 232px;
  }

  .register__form-bottom {
    bottom: 232px;
  }
}

@media screen and (max-width: 500px) {
  .register__container {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .register__title {
    margin: 45px 0 80px;
  }

  .register__form {
    width: 100%;
  }

  .register__form-label:not(:last-child) {
    margin-bottom: 24px;
  }

  .register__form-error {
    height: 24px;
    bottom: -24px;
  }

  .register__form-bottom {
    bottom: 30px;
  }

  .register__form-button {
    font-size: 12px;
    margin-bottom: 14px;
  }

  .register__bottom-text {
    font-size: 12px;
    line-height: 14px;
  }
}
